.tile {
    /*margin-bottom: 0;*/
    width: 50px;
    height: 50px;
    float: left;
    border: 1px solid black;
    margin: 0;
    line-height: 0;
}

p.number {
    font-size: 25px;
}

.tile:hover {
    background-color: lightskyblue;
}

body {
    text-align:center;
}

#but {
    margin-top: 20px;
}

#sudoku {
    font-family: Verdana, sans-serif;
    width: 476px;
    height: 476px;
    margin: auto;
    border: 5px solid black;
}

