.tile {
    /*margin-bottom: 0;*/
    width: 50px;
    height: 50px;
    float: left;
    border: 1px solid gray;
    margin: 0;
    line-height: 0;
}

p.number {
    font-size: 25px;
}

#export {
    display: none;
}

.tile:hover {
    background-color: lightskyblue;

    /*opacity: 0.1;*/
}

body {
    text-align:center;
}

#but {
    margin-top: 20px;
}

#sudoku {
    font-family: Verdana, sans-serif;
    width: 470px;
    height: 470px;
    margin: auto;
    border: 2px solid black;
}

.redColour {
    background-color: #FF8F85;
}

.redColour:hover {
    background-color: #FF7569;
}

.activeTile {
    background-color: dodgerblue !important;
}

.redText {
    color: #FF331F;
}
